body{
	font-family: oswald;
	font-weight: 300;
}

.cabecera{
	width: 980px;
	height: 115px;
	background-color: #333333;
	color: white;
	vertical-align: middle;
	float: left;
	



}
.workzone{

 width: 980px;
 height: 785px;
 background-color:  #4d4d4d;
 float: left;

}
.contenedor{

	width: 1200px;
	height: 900px;
	overflow: hidden;

}

.menu{

	float: left;
	background-color: #333333;
	width: 220px;
	height: 100%;




}
.logo
{

	width: 100%;
	height: 190px;
	background-color: gray;
	float:left;
	overflow: hidden;
	background-color: #68b139;
	position: relative;
	text-align: center;

	  }
.logo img
{
margin-top: 29px;
	  		width: 85px;
	  		height: 132px;


	  }

.selec{

	width: 100%;
	height: 50px;
	float: left;
	color: white;
	text-align: center;
	vertical-align: middle;
	margin-top: 10px;
}
#sismet{

background-color: #3d7af4;

}
#atn{

	background-color: #da9500;
}
#civi{
	background-color: #a0bb31;
}
.contcasill{
	width: 100%;
	height: 0px;
	float: left;
	overflow: hidden;

}


.casilla{


		width: 100%;
	height: 40px;
	float:left;
	padding-left: 10px;
	color: white;
	padding-top: 5px
	


}